.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #333;
    color: #fff;
    padding: 1rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.modal form {
    display: grid;
    gap: 1rem;
}
